<div class="container">
  <app-headers></app-headers>
  <div *ngFor="let ele of persons">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ele.FullName.fname}}&nbsp;{{ele.FullName.lname}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">card-subtitle</h6>
        <div *ngIf="collapse">
          <div>
            Date of Birth:&nbsp;{{ele.DateOfBirth}}<br>
            Age:&nbsp;{{ele.Age}}<br>
            Gender:&nbsp;{{ele.Gender}}
            <hr>
            Address:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Address Line1:&nbsp;{{ele.Address.addr1}}<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Address Line2:&nbsp;{{ele.Address.addr1}}<br>
            &nbsp;&nbsp;&nbsp;&nbsp;Address Line3:&nbsp;{{ele.Address.addr1}}<br>
            City:&nbsp;{{ele.City}}<br>
            State:&nbsp;{{ele.State}}<br>
            Pincode:&nbsp;{{ele.Pincode}}
            <hr>
            Phone:&nbsp;{{ele.Phone}} &nbsp;&nbsp; Mobile:&nbsp;{{ele.Mobile}}
            <hr>
            Educational Status: &nbsp;{{ele.EduStatus}}&nbsp;&nbsp; Marital Status:&nbsp;{{ele.MaritalStatus}}
            <hr>
            Physical Disability:&nbsp;{{ele.PhysicalDisability}}&nbsp;&nbsp; Birth Sign:&nbsp;{{ele.Birthsign}}
            <hr>
          </div>
        </div>
        <button (click)="toggle()">{{btnMsg}}</button>
      </div>
    </div>
  </div>
</div>