<div class="container">
  <app-headers></app-headers>

  <div class="col-sm-4">
    <form name="createUserform" [formGroup]="createUserform">
      <div class="form-group">
        <table class="table table-bordered">
          <tbody>
            <tr></tr>
            <tr>
              <td colspan="2"><small>Username</small>
                <input type="text" formControlName="UserName" name="UserName" class="form-control" [class.is-invalid]="createUserform.get('UserName').invalid && createUserform.get('UserName').untouched"
                  required />
                <small [class.d-none]="createUserform.get('UserName').valid || createUserform.get('UserName').untouched"
                  class="text-danger">Please enter username.</small>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <small>Email</small>
                <input type="email" formControlName="EmailAddress" name="EmailAddress" class="form-control"
                  [class.is-invalid]="createUserform.get('EmailAddress').invalid && createUserform.get('EmailAddress').untouched"
                  required />
                <small [class.d-none]="createUserform.get('EmailAddress').valid || createUserform.get('EmailAddress').untouched"
                  class="text-danger">Please enter email address.</small>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <!-- implementation -->
                <small>Role</small>
                <select formControlName="roleName">
                  <option selected>Select Role</option>
                  <option *ngFor="let i of userRole" value="{{i}}">
                    {{i}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><button type="submit" class="btn btn-warning">Clear</button></td>
              <td><button type="submit" class="btn btn-success" (click)="createUser()">Create
                  User</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>