<div class="container">
  <app-headers></app-headers>
  <div class="col-sm-4" style="margin-left:350px">
    <form name="createUserRole" [formGroup]="createUserRole">
      <div class="form-group form-style-5">
        <table class="table table-bordered">
          <tbody>
            <tr></tr>
            <tr>
              <td colspan="2"><small>Enter Role</small>
                <input type="text" formControlName="roleName" name="roleName" class="form-control" [class.is-invalid]="createUserRole.get('roleName').invalid && createUserRole.get('roleName').untouched"
                  required />
                <small [class.d-none]="createUserRole.get('roleName').valid || createUserRole.get('roleName').untouched"
                  class="text-danger">Please enter user role.</small>

              </td>
            </tr>
            <tr>
              <td><button type="submit" class="btn btn-warning" (click)=clear()>Clear</button></td>
              <td><button type="submit" class="btn btn-success" (click)="createRole()">Create Role</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>