<div class="container">
  <app-header-user></app-header-user>
  <form name="addinfo" className="createUserform" [formGroup]="addinfo">
    <div class="form-group form-style-5">
      <table>
        <tbody>
          <tr>
            <td colspan=3>
              <legend><span class="number">Name</span> Personal Info</legend>
            </td>
          </tr>
          <td>
            <input type="text" class="form-control" formControlName="fname" name="firstname" placeholder="First Name" />

          </td>
          <td>
            <input type="text" class="form-control" formControlName="mname" name="middlename" placeholder="Middle Name" />

          </td>
          <td>
            <input type="text" name="lastname" formControlName="lname" class="form-control" placeholder="Last Name" />

          </td>
          <tr>
            <td>
              <select name="gender" formControlName="gender" class="form-control">
                <option value="" selected disabled>Select Gender</option>
                <option *ngFor="let val of Gender" value={{val}}>
                  {{val}}
                </option>
              </select>
            </td>
            <td><input type="date" formControlName="dateofbirth" name="dateofbirth" class="form-control" placeholder="Date of Birth"
                (change)="calculateAge()">

            </td>
            <td><input type="text" formControlName="age" name="age" class="form-control" placeholder="Age" [(ngModel)]="age" /></td>
          </tr>
          <tr>
            <td colspan=3>
              <legend><span class="number">Address</span> Contact Info</legend>
            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="addr1" name="addr1" class="form-control" placeholder="Address Line 1" />

            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="addr2" name="addr2" class="form-control" placeholder="Address Line 2" />

            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="addr3" name="addr3" class="form-control" placeholder="Address Line 3" />

            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="city" name="city" class="form-control" placeholder="City" />

            </td>
          </tr>
          <tr>
            <td colspan=2>
              <select name="state" class="form-control" formControlName="state1">
                <option value="" selected disabled hidden>Select state</option>
                <option *ngFor="let val of state" value="{{val}}">
                  {{val}}
                </option>
              </select>

            </td>
            <td colspan=1><input type="text" formControlName="pincode" name="pincode" class="form-control" placeholder="Pincode" />

            </td>

          </tr>
          <tr>
            <td colspan="2"><input type="text" formControlName="phone" name="phone" placeholder="Phone" class="form-control" />

            </td>
            <td><input type="text" name="mobile" formControlName="mobile" placeholder="Mobile" class="form-control" />

            </td>
          </tr>
          <tr>
            <td colspan=3>
              <legend><span class="number">Other</span> Other Info</legend>
            </td>
          </tr>
          <tr>
            <td colspan="2"><input type="text" formControlName="physicaldisability" name="physicaldisability" class="form-control"
                placeholder="Physical disablity" />

            </td>
            <td><select name="maritalstatus" class="form-control" formControlName="maritalstatus">
                <option value="" selected disabled hidden>Marital Status</option>
                <option *ngFor="let val of maritalstatus" value="{{val}}">
                  {{val}}
                </option>
              </select>

            </td>
          </tr>
          <tr>
            <td colspan="2">
              <select name="edustatus" class="form-control" formControlName="edustatus">
                <option value="" selected disabled hidden>Educational Status</option>
                <option *ngFor="let val of edustatus" value="{{val}}">
                  {{val}}
                </option>
              </select>

            </td>
            <td colspan="1"><input type="text" name="birthsign" formControlName="birthsign" placeholder="Birth Sign"
                class="form-control" />

            </td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Clear</button></td>
            <td><button type="submit" (click)="save()">Enter</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>