<div class="container">
  <app-header-user></app-header-user>
  <form name="userInfoDisplayform" [formGroup]="userInfoDisplayform">
    <div class="form-group form-style-5">
      <table>
        <tbody>
          <tr>
            <td colspan=3>
              <legend><span class="number">Name</span> Personal Info</legend>
            </td>
          </tr>
          <td>
            <input type="text" formControlName="fname" required class="form-control" readonly [(ngModel)]="fname" />
          </td>
          <td>
            <input type="text" formControlName="mname" class="form-control" name="mname" placeholder="Middle Name"
              readonly />

          </td>
          <td>
            <input type="text" formControlName="lname" name="lname" class="form-control" placeholder="Last Name"
              readonly />

          </td>
          <tr>
            <td>
              <input type="text" name="Gender" formControlName="Gender" class="form-control" readonly>
              <!-- <select name="Gender" class="form-control" formControlName="Gender">
                <option value="" selected disabled hidden>Select Gender</option>
                <option *ngFor="let val of Gender">
                  {{val}}
                </option>
              </select> -->
            </td>
            <td><input type="date" formControlName="DateOfBirth" name="dateofbirth" class="form-control" readonly
                placeholder="Date of Birth">

            </td>
            <td><input type="text" formControlName="Age" name="Age" class="form-control" placeholder="Age" readonly /></td>
          </tr>
          <tr>
            <td colspan=3>
              <legend><span class="number">Address</span> Contact Info</legend>
            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="addr1" name="addr1" class="form-control" placeholder="Address Line 1"
                readonly />

            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="addr2" name="addr2" class="form-control" placeholder="Address Line 2"
                readonly />

            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="addr3" name="addr3" class="form-control" placeholder="Address Line 3"
                readonly />

            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="City" name="city" class="form-control" placeholder="City"
                readonly />

            </td>
          </tr>
          <tr>
            <td colspan=2>
              <input type="text" name="State" formControlName="State" class="form-control" readonly>
              <!-- <select name="State" class="form-control">
                <option value="" selected disabled hidden>Select state</option>
                <option *ngFor="let val of state">
                  {{val}}
                </option>
              </select> -->

            </td>
            <td colspan=1><input type="text" formControlName="Pincode" name="pincode" class="form-control" placeholder="Pincode"
                readonly />

            </td>

          </tr>
          <tr>
            <td colspan="2"><input type="text" formControlName="Phone" name="phone" placeholder="Phone" class="form-control"
                readonly />

            </td>
            <td><input type="text" name="mobile" formControlName="Mobile" placeholder="Mobile" class="form-control"
                readonly />

            </td>
          </tr>
          <tr>
            <td colspan=3>
              <legend><span class="number">Other</span> Other Info</legend>
            </td>
          </tr>
          <tr>
            <td colspan="2"><input type="text" formControlName="physicaldisability" name="physicaldisability" class="form-control"
                placeholder="Physical disablity" readonly />

            </td>
            <td>
              <input type="text" name="maritalstatus" formControlName="maritalstatus" class="form-control" readonly>
              <!-- <select name="maritalstatus" class="form-control">
                <option value="" selected disabled hidden>Marital Status</option>
                <option *ngFor="let val of maritalstatus">
                  {{val}}
                </option>
              </select> -->

            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="text" name="edustatus" formControlName="edustatus" class="form-control" readonly>
              <!-- <select name="edustatus" class="form-control">
                <option value="" selected disabled hidden>Educational Status</option>
                <option *ngFor="let val of edustatus">
                  {{val}}
                </option>
              </select> -->

            </td>
            <td colspan="1"><input type="text" name="birthsign" formControlName="birthsign" placeholder="Birth Sign"
                class="form-control" readonly />

            </td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Clear</button></td>
            <td><button type="submit">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>