<div class="container">
  <app-header-user></app-header-user>
  <form name="userInfoDisplayform" [formGroup]="userInfoDisplayform">
    <div class="form-group form-style-5">
      <table>
        <tbody>
          <tr>
            <td colspan="3">{{showMsg}}</td>
          </tr>
          <tr>
            <td colspan=3>
              <legend><span class="number">Name</span> Personal Info</legend>
            </td>
          </tr>
          <td>
            <input type="text" formControlName="fname" required class="form-control" [readonly]="isreadOnly"
              [(ngModel)]="fname" />
          </td>
          <td>
            <input type="text" formControlName="mname" class="form-control" name="mname" placeholder="Middle Name"
              [readonly]="isreadOnly" [(ngModel)]="mname" />

          </td>
          <td>
            <input type="text" formControlName="lname" name="lname" class="form-control" placeholder="Last Name"
              [readonly]="isreadOnly" [(ngModel)]="lname" />

          </td>
          <tr>
            <td>
              <div *ngIf="isreadOnly">
                <input type="text" name="Gender" formControlName="Gender" class="form-control" [readonly]="isreadOnly"
                  [(ngModel)]="Gender"></div>
              <div *ngIf="!isreadOnly">
                <select name="Gender" class="form-control" formControlName="Gender">
                  <option>{{Gender}}</option>
                  <option *ngFor="let val of Gender1">
                    {{val}}
                  </option>
                </select>
              </div>

            </td>
            <td><input type="date" formControlName="DateOfBirth" name="dateOfBirth" class="form-control" [readonly]="isreadOnly"
                placeholder="Date of Birth" [(ngModel)]="DateOfBirth">

            </td>
            <td><input type="text" formControlName="Age" name="Age" class="form-control" placeholder="Age" [readonly]="isreadOnly"
                [(ngModel)]="Age" /></td>
          </tr>
          <tr>
            <td colspan=3>
              <legend><span class="number">Address</span> Contact Info</legend>
            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="addr1" name="addr1" class="form-control" placeholder="Address Line 1"
                [readonly]="isreadOnly" [(ngModel)]="addr1" />

            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="addr2" name="addr2" class="form-control" placeholder="Address Line 2"
                [readonly]="isreadOnly" [(ngModel)]="addr2" />

            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="addr3" name="addr3" class="form-control" placeholder="Address Line 3"
                [readonly]="isreadOnly" [(ngModel)]="addr3" />

            </td>
          </tr>
          <tr>
            <td colspan="3"><input type="text" formControlName="City" name="city" class="form-control" placeholder="City"
                [readonly]="isreadOnly" [(ngModel)]="City" />

            </td>
          </tr>
          <tr>
            <td colspan=2>
              <div *ngIf="isreadOnly">
                <input type="text" name="State" formControlName="State" class="form-control" [readonly]="isreadOnly"
                  [(ngModel)]="State"></div>
              <div *ngIf="!isreadOnly">
                <select name="State" class="form-control" formControlName="State">
                  <option>{{State}}</option>
                  <option *ngFor="let val of state">
                    {{val}}
                  </option>
                </select>
              </div>
            </td>
            <td colspan=1><input type="text" formControlName="Pincode" name="Pincode" class="form-control" placeholder="Pincode"
                [readonly]="isreadOnly" [(ngModel)]="Pincode" />

            </td>

          </tr>
          <tr>
            <td colspan="2"><input type="text" formControlName="Phone" name="Phone" placeholder="Phone" class="form-control"
                [readonly]="isreadOnly" [(ngModel)]="Phone" />

            </td>
            <td><input type="text" name="Mobile" formControlName="Mobile" placeholder="Mobile" class="form-control"
                [readonly]="isreadOnly" [(ngModel)]="Mobile" />

            </td>
          </tr>
          <tr>
            <td colspan=3>
              <legend><span class="number">Other</span> Other Info</legend>
            </td>
          </tr>
          <tr>
            <td colspan="2"><input type="text" formControlName="physicaldisability" name="physicaldisability" class="form-control"
                placeholder="Physical disablity" [readonly]="isreadOnly" [(ngModel)]="physicaldisability" />

            </td>
            <td>
              <div *ngIf="isreadOnly">
                <input type="text" name="maritalstatus" formControlName="maritalstatus" class="form-control" [readonly]="isreadOnly"
                  [(ngModel)]="maritalstatus">
              </div>
              <div *ngIf="!isreadOnly">
                <select name="maritalstatus" class="form-control" formControlName="maritalstatus">
                  <option>{{maritalstatus}}</option>
                  <option *ngFor="let val of maritalstatus1">
                    {{val}}
                  </option>
                </select>
              </div>


            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div *ngIf="isreadOnly">
                <input type="text" name="edustatus" formControlName="edustatus" class="form-control" [readonly]="isreadOnly"
                  [(ngModel)]="edustatus"></div>
              <div *ngIf="!isreadOnly">
                <select name="edustatus" class="form-control" formControlName="edustatus">
                  <option>{{edustatus}}</option>
                  <option *ngFor="let val of edustatus1">
                    {{val}}
                  </option>
                </select>
              </div>


            </td>
            <td colspan="1"><input type="text" name="birthsign" formControlName="birthsign" placeholder="Birth Sign"
                class="form-control" [readonly]="isreadOnly" [(ngModel)]="birthsign" />

            </td>
          </tr>
          <tr>

            <div *ngIf="editBtn">

              <div *ngIf="isreadOnly">
                <td colspan="2"><button type="submit">Clear</button></td>
                <td><button type="submit" (click)="toggleReadonly()">Edit</button></td>
              </div>
              <div *ngIf="!isreadOnly">
                <td><button type="submit" (click)="updateData()">Update</button></td>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>