<div class="container col-sm-4">
  <form name="loginform" [formGroup]="loginform">
    <div class="form-group">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td colspan="2"><small>Username</small>
              <input type="text" name="username" formControlName="username" class="form-control" required />
              <!-- yet to implement -->


            </td>
          </tr>
          <tr>
            <td colspan="2">
              <small>Password</small>
              <input type="text" name="password" formControlName="password" class="form-control" required />
            </td>
          </tr>
          <tr>
            <td><button type="submit" class="btn btn-warning">Clear</button></td>
            <td><button type="submit" class="btn btn-success" (click)="login()">Login</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>